:root {
    --slate-gray: #64748B;
    --col-white: #FFFFFF;
    --col-black: #000000;
    --col-grey: #A5A5A5;
    --col-darkgrey: #B6B7B8;
}

@font-face {
    font-family: Chicago-12;
    src: url(./assets/fonts/ChiKareGo2.ttf);
}

* {
    margin: 0;
}

html {
    min-height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, var(--col-white) 21px, transparent 1%) center, linear-gradient(var(--col-white) 21px, transparent 1%) center, var(--col-black);
    background-size: 22px 22px;
}

#content {
    height: 60%;
    width: 60%;
    max-width: 1200px; 
    max-height: 800px;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content;
    grid-template-areas: 
    'head head'
    'nav main';
    border: 0.1em solid var(--col-black);
}

.title-bar {
    grid-area: head;
    flex: none;
    display: flex;
    align-items: center;
    height: 1.5rem;
    padding: 0.2rem 0.1rem;
    background: linear-gradient(var(--col-black) 50%, transparent 50%);
    background-size: 6.6666666667% 13.3333333333%;
    background-clip: content-box;
    border-bottom: solid 1px var(--col-black);
}

.page-title {
    padding: 0 0.5em;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.1;
    text-align: center;
    background: var(--col-white);
    cursor: default;
    font-family: Chicago-12;
}

.nav-container {
    grid-area: nav;
    padding: 1.5rem;
    width: 250px;
    border-right: solid 1px var(--col-black);
    display: flex;
}

#project-nav {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.project-container {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.project-card {
    display: flex;
    flex-direction: row;
    font-family: Chicago-12;
    font-size: 24px;
}

h1 {
    font-family: Chicago-12;
    margin: 0;
}

.main {
    grid-area: main;
    padding: 1.5rem;
    height: 100%;
}

.btn {
    min-height: 20px;
    min-width: 59px;
    padding: 0 20px;
    font-family: Chicago-12;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background: var(--col-white);
    border: solid 5.5px;
    border-image: url(./assets/button.svg) 30 stretch;
    color: var(--col-black);
}

.project-head {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.task-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--col-white);
    border: solid 1px var(--col-black);
    margin: 5px;
}

.task-card-left {
    display: flex;
    flex-direction: row;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    background: var(--col-white);
    border: 0.1em solid var(--col-black);
}

.form-title {
    padding: 0 0.5em;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.1;
    text-align: center;
    background: var(--col-white);
    cursor: default;
    font-family: Chicago-12;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    border: 1.5px solid var(--col-black);
    font-family: Chicago-12;
    font-size: 18px;
    padding-left: 5px;
}

input[type="text"]:focus-visible,
input[type="date"]:focus-visible,
textarea:focus {
    background: var(--col-black);
    color: var(--col-white);
}

.display-none {
    display: none;
}
