:root {
    --slate-gray: #64748B;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #94A3B8;
}

#content {
    height: 70vh;
    width: 60vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    border: 1px solid red;
}

.header {
    border: 1px solid blue;
}

.main {
    border: 1px solid blue;
}

.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 15% auto;
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
    border: 1px solid red;
    background-color: white;
}

.display-none {
    display: none;
}
